.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Cards Layout */

div .row {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
}

/* Cards */

.card-columns .card {
  margin-bottom: .75rem;
  margin-left: .75rem;
  margin-right: .75rem;
}

.card-img, .card-img-top {
  width: 100%;
  height: 10rem;
}

.card-title {
  margin:0
}

div .card-body {
  height: 5rem;
  background-color: black;
  display: contents;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

p .char-description {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

div .card-title {
  padding: 1rem;
}

.h5 {
  font-size: 1rem;
}

div .card-columns {
  column-count: 4;
  padding-top: 2rem;
}

div .char-description {
  font-size: 0.5rem;
}


/* Search Bar */

form {
  display: inline-table;
  width: 70%;
  padding-top: 2rem;
}

div .input-group {
  padding: 2rem;
}

.search-input-box {
  color: black;
  border-bottom-width: thick;
  border-top-style: none;
  border-left-style: none;
  border-bottom-color: black;
}

.search-input-box:focus {
  border-color: red;
  box-shadow: none;
}

.submit-button {
  background: red;
  border-color: red;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active {
  color: white;
  background-color: black;
  border-color: black;
  box-shadow: none;
}


/* If No Character is Found */

div .row {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  font-size: 2rem;
}

img.oops-deadpool {
  height: auto;
  width: 25rem;
}